/* main styles */
html {
    font-size: 32px;
}
body {
    background: #EEE;
    font-family: 'Heebo', Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.8);
    font-weight: 400;
}
/* hide elements that rely on javascript */
.javascript-disabled {
	display: none;
}
/* font styles */
a {
    color: #0069b4;
}
a:visited {
    color: #922b0f;
}
h1 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
}
h2 {
    font-size: 1.7rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #573d2f;
    margin: 0 0 1rem;
}
h3 {
    font-weight: 400;
    font-size: 1.2rem;
    color: #573d2f;
    margin: 0 0 1rem;
}
hr {
    border-top: 1px solid #666;
    border-bottom: 1px solid #FFF;
    margin: 1.5rem 0;
}
.text-weight-light {
    font-weight: 300;
}
.text-weight-normal {
    font-weight: 400;
}
.text-weight-medium {
    font-weight: 500;
}
.text-weight-bold {
    font-weight: 700;
}
.text-align-center {
    text-align: center;
}
.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}
.text-size-small {
    font-size: 0.9rem;
}
.text-size-normal {
    font-size: 1rem;
}
.text-size-large {
    font-size: 1.2rem;
}
.vertical-align-middle {
    vertical-align: middle;
}
.vertical-align-sub {
    vertical-align: sub;
}
/* tables */
table {
    text-align: left;
    background: rgba(255,255,255,0.3);
}
table td, table th {
    padding: 0.4rem 0.7rem;
}
table thead tr {
    border-bottom: 2px solid #666;
}
table tbody tr {
    border-top: 1px solid #999;
}
/* top and bottom graphics */
#body-container {
    min-height: 100vh;
    min-width: 23em;
    position: relative;
    padding-bottom: 2.5rem;
}
#body-container::before {
    content: "";
    display: block;
    height: 3rem;
    background-image: url('/media/banner-top-display.svg');
    background-size: contain;
	background-repeat: repeat-x;
}
#body-container::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3.5rem;
    width: 3.5rem;
    mask-image: url('/media/banner-bottom-display.svg');
    -webkit-mask-image: url('/media/banner-bottom-display.svg');
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-position: right;
    -webkit-mask-position: right;
    background-color: #556950;
}
/* header */
#logo-link {
    display: block;
    margin: 1rem auto 2rem;
}
#logo-svg {
    display: block;
    height: auto;
    opacity: 0.8;
}
#logo-link, #logo-svg {
    width: 15rem;
}
#logo-link-small {
    display: block;
    margin: 1rem auto 2rem;
}
#logo-svg-small {
    display: block;
    height: auto;
    opacity: 0.8;
}
#logo-link-small, #logo-svg-small {
    width: 7rem;
}
header p {
    margin: 0.3rem;
}
/* call to actions */
#actions p {
    margin: 1rem 1rem 1rem;
}
#action-container {
    margin: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.button-container {
    flex-grow: 1;
    margin: 0.5rem 1rem;
    min-width: 20rem;
    max-width: 30rem;
}
.action-button {
    display: block;
    border-radius: 0.4rem;
    padding: 0.8rem;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    border: 2px solid transparent;
}
.action-button.solid {
    background: #6A8253;
    color: #FFF;
}
.action-button.outline {
    background: #D6DECE;
    color: #536641;
    border: 2px solid #536641;
    font-weight: 700;
}
#social-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#social-actions a {
    display: block;
    margin: 1rem;
    border-radius: 100%;
}
#github-button {
    background: #FFF;
}
#instagram-button {
    background: #e55384;
}
#instagram-button .social-icon {
    transform: scale(0.7);
}
#linkedin-button {
    background: #0a66c2;
}
#linkedin-button .social-icon {
    transform: scale(0.6);
}
.social-icon {
    width: 3rem;
    height: 3rem;
}
/* navigation */
nav {
    margin: 2.5rem 0;
    text-align: center;
}
.pill-button {
    display: inline-block;
    color: rgba(18,62,154,0.75);
    font-weight: 700;
    padding: 0.3rem 0.8rem;
    border-radius: 1.3rem;
    text-decoration: underline rgba(18,62,154,0.5);
}
.pill-button:visited {
    color: rgba(18,62,154,0.75);
}
.pill-button.current-page {
    background: rgb(0 28 88 / 60%);
    color: #FFF;
    font-weight: 600;
    text-decoration: none;
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.3);
}
/* project thumbnails */
#projects input[type=checkbox] {
	display: none;
}
.project-thumbnail.filter-hide {
	display: none;
}
#projects-filters {
    margin: -1rem 2rem 0;
}
#filters-container {
	margin: 0 0 1rem;
}
#collapse-label-container {
    display: flex;
    justify-content: end;
}
#collapse-label {
    border-radius: 0.2rem;
    background-color: #777;
    color: #FFF;
    padding: 0 0.5rem;
    height: 1.8rem;
    line-height: 1.8rem;
    vertical-align: middle;
}
#collapse-label::after {
    display: inline-block;
    content: "\25BC";
    font-size: 0.7rem;
    padding: 0 0 0 0.3rem;
    transform: rotateX(180deg);
}
#collapse-label.filters-active::before {
    content: "\22C6  ";
    font-size: 1.2rem;
}
#collapse-container {
    overflow: hidden;
    max-height: 30rem;
    transition: max-height 500ms ease-out;
}
#collapse-container > div:first-child {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #CCC;
    border-radius: 0.2rem;
    border: 1px solid #BBB;
}
#collapse-container p {
    color: #333;
    font-weight: 600;
    text-align: center;
    margin: 0 0 0.5rem;
}
#collapse-container .filter-labels-container {
    text-align: center;
    margin-bottom: 1rem;
}
#clear-filters-button {
    display: block;
    margin: 0 auto;
    padding: 0.3rem 0.5rem;
    border-radius: 0.2rem;
    background-color: #9d6262;
    color: #FFF;
    border: 1px solid #8b2323;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: 'Heebo', Arial, Helvetica, sans-serif;
}
#collapse-toggle:checked + #filters-container #collapse-container {
	max-height: 0;
}
#collapse-toggle:checked + #filters-container #collapse-label::after {
    transform: rotateX(0);
}
#collapse-container .filter-labels-container label {
    display: inline-block;
    margin: 0 0 0.2rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.2rem;
    background-color: #FFF;
    color: #000;
    font-size: 0.8rem;
}
#collapse-container .filter-labels-container input[type=checkbox]:checked + label {
	background-color: #f1e0d4;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
#projects-flex {
	margin: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-thumbnail {
    margin: 0 1rem 2rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20rem;
    max-width: 30rem;
    height: 20rem;
    border-radius: 0.1rem;
    background-size: cover;
    background-position: top center;
    box-shadow: 0 0 0 1px #CCC;
    background-color: #999;
}
.project-link {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.1rem;
    text-decoration: none;
}
.project-link .project-space {
    flex-grow: 1;
}
.project-link .project-information {
    background-image: linear-gradient(
        rgba(255,255,255,0.8),
        rgba(255,255,255,1)
    );
    border-radius: 0 0 0.1rem 0.1rem;
    padding: 0.5rem;
}
.project-link .project-information p {
    margin: 0;
    line-height: 1.5rem;
    color: #000;
    text-shadow: #FFF 0 0 4px;
}
.project-link .project-tools {
    padding: 0 0.2rem 0.2rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.project-link .project-tools span {
    color: #FFF;
    background: #888;
    font-size: 0.7rem;
    text-transform: uppercase;
    border-radius: 0.2rem;
    padding: 0 0.3rem;
    margin: 0.1rem 0.2rem 0 0;
}
/* about */
#about {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80rem;
}
#about section {
    flex-grow: 1;
    flex-basis: 25rem;
    margin: 0 2rem 1rem;
}
#about section > ul > li {
    margin-bottom: 0.5rem;
}
/* 404 page */
#lost {
    margin: 2rem 1rem;
    text-align: center;
}
/* project details */
#project-info {
    padding: 0 1rem;
    max-width: 73rem;
    margin: 0 auto;
}
#project-details {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background: rgba(255,255,255,0.7);
    padding: 0.5rem;
    border-radius: 0.4rem;
}
#project-details div {
    flex-grow: 0;
    width: 12rem;
    padding-right: 1rem;
    margin: 0.25rem 0 0.25rem;
}
#project-details div:last-child {
    flex-grow: 1;
}
#project-details div p {
    margin: 0;
    font-weight: 500;
}
#project-details div p span ~ span::before {
    content: ", ";
}
#project-details div p:first-child {
    font-weight: 400;
    font-size: 0.7rem;
    text-transform: uppercase;
}
#project-preview {
    box-shadow: 0 0 0 1px #CCC;
}
#full-project-link {
    display: block;
    margin: 1rem 0;
}
#full-project-link img {
    width: 100%;
}
#project-buttons .action-button {
    margin-bottom: 0.5rem;
}
#project-info h2 {
    margin-top: 2.5rem;
}
#project-info h3 {
    margin-top: 1.5rem;
}
#project-report {
    max-width: 50rem;
}
#project-report img {
    width: 100%;
    max-width: 40rem;
}
#project-report small {
    display: block;
    max-width: 40rem;
    padding: 1rem 0.5rem;
    background: rgba(255,255,255,0.7);
}
#project-report blockquote {
    border-left: 1px solid #999;
    padding-left: 1rem;
    font-style: italic;
}
#project-report pre {
    background: rgba(0,0,0,0.05);
    border: 1px inset #FFF;
    max-height: 80vh;
    max-width: calc(100vw - 5rem);
}
#project-report aside {
    background: #FFF;
    padding: 0.2rem 1rem 0.5rem;
    border: 1px outset #FFF;
}
#project-report aside p:first-child {
    font-weight: 500;
    font-size: 1.1rem;
}
#project-report div.compare-images + p, #project-report div.compare-images + p + p {
    width: calc(50% - 0.5rem);
    display: inline-block;
}
@media
    (min-aspect-ratio: 1/1),
    (min-width: 50rem) and (max-resolution: 192dpi),
    (min-width: 50rem) and (-webkit-max-device-pixel-ratio: 2)
{
    #project-metadata {
        display: grid;
        align-items: start;
        gap: 1rem;
        grid-template-columns: auto 20rem;
        grid-template-rows: auto max-content;
        grid-template-areas:
            "map details"
            "map buttons";
    }
    #project-details {
        grid-area: details;
    }
    #project-preview {
        grid-area: map;
        overflow: hidden;
    }
    #full-project-link {
        margin: 0;
    }
    #project-buttons {
        grid-area: buttons;
    }
}
/* contact */
#alt-form-link {
    margin: 0 auto 1rem;
    max-width: 24rem;
}
#contact-iframe-container {
    min-height: 100rem;
    overflow: visible;
}
#contact-iframe {
    width: 50%;
    transform: scale(2);
    transform-origin: 0 0;
    background: transparent;
}
#contact-iframe body {
    background: transparent;
}
/* adventures */
#adventures section:first-child {
    margin: 0 2rem;
}
#adventures h3 {
    text-align: center;
}
#instagram-badge {
    background: #FFF;
    margin: 1rem auto 3rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    max-width: 50rem;
}
#instagram-badge img {
    width: 5rem;
    margin-right: 1.2rem;
}
#instagram-badge p {
    margin: 0 0 0.5rem;
}
#instagram-badge p:first-child {
    font-weight: 700;
    font-size: 1.3rem;
}
#instagram-highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1.5rem;
}
#instagram-highlights .photo-container {
    margin: 0 0.5rem 1rem;
    flex-grow: 1;
    padding-bottom: 1rem;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#instagram-highlights .photo-image {
    height: 10rem;
    opacity: 0;
}
/* other maps */
/* #external-links {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 80rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}
.resource-card {
    max-width: 40rem;
    flex-basis: 30rem;
    flex-grow: 1;
    display: flex;
}
.resource-image-link {
    margin-right: 1rem;
}
.resource-image {
    border: 1px solid #CCC;
    object-fit: cover;
}
.resource-info > a {
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid;
    display: inline-block;
    height: 1.7rem;
} */

/* desktop media query */
@media (max-resolution: 192dpi), (-webkit-max-device-pixel-ratio: 2), (min-aspect-ratio: 1/1) {
    html {
        font-size: 16px;
    }
    #contact-iframe {
        transform: none;
		width: 100%;
	}
	@media (min-width: 100rem) {
	    html {
	        font-size: 18px;
	    }
	}
}

