/* main styles */
body {
    background: #D8DACC;
    font-family: 'Heebo', Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.8);
    font-size: 1rem;
    font-weight: 400;
}
/* font styles */
h1 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
}
h2 {
    font-size: 1.7rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #573d2f;
    margin: 0 0 1rem;
}
h3 {
    font-weight: 400;
    font-size: 1.2rem;
    color: #573d2f;
    margin: 0 0 1rem;
}
hr {
    border-top: 1px solid #666;
    border-bottom: 1px solid #FFF;
    margin: 1.5rem 0;
}
.text-weight-light {
    font-weight: 300;
}
.text-weight-normal {
    font-weight: 400;
}
.text-weight-medium {
    font-weight: 500;
}
.text-weight-bold {
    font-weight: 700;
}
.text-align-center {
    text-align: center;
}
.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}
.text-size-small {
    font-size: 0.9rem;
}
.text-size-normal {
    font-size: 1rem;
}
.text-size-large {
    font-size: 1.2rem;
}
.vertical-align-middle {
    vertical-align: middle;
}
.vertical-align-sub {
    vertical-align: sub;
}
/* tables */
table {
    text-align: left;
}
table td, table th {
    padding: 0.4rem 1.5rem 0.4rem 0;
}
table thead tr {
    border-bottom: 2px solid #333;
}
table tbody tr {
    border-top: 1px solid #333;
}
/* top and bottom graphics */
#body-container {
    min-height: 100vh;
    min-width: 23em;
    position: relative;
    padding-bottom: 2.5rem;
}
#body-container::before {
    content: "";
    display: block;
    height: 3rem;
    background-image: url('/media/banner-top-display.svg');
    background-size: contain;
}
#body-container::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3.5rem;
    width: 3.5rem;
    mask-image: url('/media/banner-bottom-display.svg');
    -webkit-mask-image: url('/media/banner-bottom-display.svg');
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-position: right;
    -webkit-mask-position: right;
    background-color: #556950;
}
/* header */
#logo-link {
    display: block;
    margin: 1rem auto 2rem;
}
#logo-svg {
    display: block;
    height: auto;
    opacity: 0.8;
}
#logo-link, #logo-svg {
    width: 15rem;
}
#logo-link-small {
    display: block;
    margin: 1rem auto 2rem;
}
#logo-svg-small {
    display: block;
    height: auto;
    opacity: 0.8;
}
#logo-link-small, #logo-svg-small {
    width: 7rem;
}
header p {
    margin: 0.3rem;
}
/* call to actions */
#actions p {
    margin: 2.5rem 1rem 1rem;
}
#action-container {
    margin: 0 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.button-container {
    flex-grow: 1;
    margin: 0.5rem;
    min-width: 20rem;
    max-width: 30rem;
}
.action-button {
    display: block;
    border-radius: 0.4rem;
    padding: 0.8rem;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    border: 2px solid transparent;
}
.action-button.solid {
    background: #6A8253;
    color: #FFF;
}
.action-button.outline {
    background: #D6DECE;
    color: #536641;
    border: 2px solid #536641;
    font-weight: 700;
}
/* navigation */
nav {
    margin: 2.5rem 0;
    text-align: center;
}
.pill-button {
    display: inline-block;
    color: rgba(0,0,0,0.6);
    font-weight: 700;
    padding: 0.3rem 0.8rem;
    border-radius: 1.3rem;
    text-decoration: none;
}
.pill-button.current-page {
    background: rgba(0,0,0,0.5);
    color: #FFF;
    font-weight: 600;
}
/* project thumbnails */
#projects {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0.5rem;
}
.project-thumbnail {
    margin: 0 0.5rem;
    flex-grow: 1;
    height: 20rem;
    width: 20rem;
    border-radius: 0.4rem;
    border: 1px solid #FFF;
    background-size: cover;
}
.project-link {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 0.4rem;
    text-decoration: none;
    background-image: linear-gradient(
        rgba(0,0,0,0) 50%,
        rgba(50,50,50,0.9)
    );
}
.project-link p {
    margin: 0 1rem;
    line-height: 1.5rem;
    color: #FFF;
    text-shadow: rgba(0,0,0,1) 1px 1px 4px;
}
.project-link p + p {
    margin-bottom: 0.6rem;
}
/* about */
#about {
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80rem;
}
#about section {
    flex-grow: 1;
    flex-basis: 25rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
#description p:first-of-type {
    margin-top: 0;
}
#description h2 {
    margin-top: 2rem;
}
#description img {
    float: left;
    width: 11rem;
    margin: 0 1rem 0.1rem 0;
    border-radius: 0.3rem;
    border: 1px solid rgba(255,255,255,0.5);
}
#description .list-columns {
    display: flex;
}
#description .list-columns ul {
    margin: 0;
    padding: 0;
    flex-grow: 1;
}
#description .list-columns ul li {
    list-style-type: none;
    margin: 0 0 0.2rem;
    padding: 0;
    font-weight: 500
}
#description .list-columns ul li:first-child {
    font-weight: 400;
    opacity: 0.6;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}
#timeline {
    display: flex;
}
#road {
    position: relative;
    width: 0;
    padding: 0.6rem;
    background-color: #999;
    border-left: 0.2rem solid #c1b6b0;
    border-right: 0.2rem solid #c1b6b0;
    background-image: linear-gradient(#999 70%, gold 70%);
    background-size: 0.1rem 1.5rem;
    background-repeat: repeat-y;
    background-position: center;
}
#road::before {
    content: "";
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: -0.2rem;
    right: -0.2rem;
    background: linear-gradient(#D8DACC, transparent 5%, transparent 95%, #D8DACC);
}
#road::after {
    content: "";
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 3rem;
    left: 0;
    right: 0;
    height: 2.5rem;
    background-image: url("/media/truck-top-icon-display.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#milestones {
    margin-left: 1.5rem;
}
#milestones div {
    margin: 1.2rem 0;
    position: relative;
}
#milestones div::before {
    content: "";
    display: block;
    position: absolute;
    left: -2.7rem;
    top: 0.1rem;
    width: 2.6rem;
    height: 0.8rem;
    outline: 0.09rem solid #FFF;
    outline-offset: -0.5rem;
    background-image: radial-gradient(#FFF, #FFF 45%, transparent 50%);
    background-size: 0.8rem;
    background-repeat: no-repeat;
}
#milestones div p {
    margin: 0 0 0.2rem 0;
}
#milestones div p:first-child {
    font-size: 0.8rem;
}
#milestones div p:nth-child(2) {
    font-weight: 700;
}
#milestones div ul {
    margin-top: 0;
}
/* 404 page */
#lost {
    margin: 2rem 1rem;
    text-align: center;
}
/* project details */
#project-info {
    padding: 0 1rem;
    max-width: 50rem;
    margin: 0 auto;
}
#project-metadata {
    display: flex;
    justify-content: space-between
}
#project-metadata div p {
    margin: 0;
}
#project-metadata div p:first-child {
    font-size: 0.7rem;
    text-transform: uppercase;
}
#project-metadata div p:nth-child(2) {
    font-weight: 500;
}
#full-map-image-link {
    display: block;
    margin: 1rem 0;
}
#full-map-image-link img {
    width: 100%;
}
#project-info h2 {
    margin-top: 2.5rem;
}
#project-info h3 {
    margin-top: 1.5rem;
}
/* contact */
#contact {
    position: relative;
    margin-top: 1rem;
}
#alt-form-link {
    position: absolute;
    top: 5.2em;
    width: 100%;
}
#alt-form-link div {
    width: 90%;
    max-width: 40em;
    margin: 0 auto;
}
#alt-form-link div a {
    margin-left: 1.6em;
}
#contact-iframe-container {
    height: 75em;
}
/* adventures */
#adventures {
    margin: 0 auto;
    padding: 0 0.5rem;
    max-width: 63rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 330rem;
}
#adventures section {
    margin: 0 0.5rem 1rem;
    width: calc(100% - 1rem);
    max-width: 30rem;
    min-height: 37rem;
}
@media (min-width: 44rem) {
    #adventures {
        height: 180rem;
        align-items: stretch;
    }
    #adventures section {
        width: auto;
    }
    #adventures section:nth-child(2n+1) {
        order: 1;
    }
    #adventures section:nth-child(2n) {
        order: 2;
    }
}


