html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}
#map-container {
	width: 100vw;
	height: 100%;
}
#map-title h1 {
	font-size: calc(0.8rem + 1vmin);
	line-height: 1.4;
	margin: 0.5rem 1rem;
}
#project-link a {
	display: block;
	font-size: calc(0.6rem + 0.5vmin);
	line-height: 1.4;
	margin: 0.5rem 1rem;
}
#logo-link-small {
	display: block;
	margin: 0.6rem;
}
#logo-svg-small {
	width: calc(3rem + 4vmin);
	height: auto;
}
.esri-legend__layer-caption {
	display: none;
}
/* toll booth map */
.toll-booths-map .esri-layer-list__item {
	position: relative;
}
.toll-booths-map .esri-layer-list__item-container {
	padding-left: 30px;
}
.toll-booths-map .esri-layer-list__item-actions-menu {
	display: none;
}
.toll-booths-map .esri-layer-list__item .esri-layer-list-panel {
	height: 0;
	padding: 0;
	margin: 0;
}
.toll-booths-map .esri-layer-list__item .esri-legend .esri-legend__service .esri-legend__symbol {
	position: absolute;
	top: 12px;
	left: 12px;
}